 body {  
  font-family: Arial,  sans-serif;
  background-color: #f0e6f6;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.controlled-input {
  text-align: center;
}

div[class^="Controlled"] {
  background-color: whitesmoke;
  padding: 25px 30px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,1);
  width: 300px;
}

div[class^="Controlled"] {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(45, 40, 40);
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width:100%;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 14px;
}

p{
  font-size: 14px;
  color: rgb(45, 40, 40);
}

p strong {
  color: black
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(177, 177, 227);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}

button:hover {
  background-color: aquamarine;
} 



